body{
    background-color: #000;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    margin: auto;
    padding: 10px;
    width: 100%;
}
.form{
    background-image: url('https://th.bing.com/th/id/R.dd5d9fbdd03a3b47d21baa8633231e67?rik=a3iMyOmV0XwEwA&riu=http%3a%2f%2fwww.baltana.com%2ffiles%2fwallpapers-2%2fFood-HD-Wallpapers-04864.jpg&ehk=oCGq87EnzGa53wpyGPk3aNhI03hKYPPWLQVzqCKdPe0%3d&risl=&pid=ImgRaw&r=0');
     width: 100%; 
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-color: #000;
    opacity: 0.4;
}

.container{
    background-color: #000;
    position: relative;
}

form{
    background-color:rgba(0, 0, 0, 0.333) ;
    border-radius: 18px;
    position: absolute;
    width: 40%;
    padding: 40px;
    top: 5%;

}
label{
    color:white;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

#password, #email{
    background-color: transparent;
    padding: 15px; 
    outline: none;
    border: 2px solid white;
    margin: 8px 0;
    margin-bottom: 17px;
    width: 80%;
    display: block;
    border-radius: 4px;
    color: white;
}
.main{
    border:3px solid orange;
    border-radius: 10px;
    left: 4.5%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    gap: 0px 30px;
    top: 3%;
    width: 90%;
    height: 95%;
}
.main2{
        border:3px solid orange;
        border-radius: 10px;
        left: 4%;
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0px 30px;
        position: absolute;
        top: 2%;
        width: 90%;
        height: 95%;
    }
h2{
    color: white;
    text-align: center;
}
.btn{
    width: 90%;
    padding: 10px;
    font-size: 20px;
    margin: auto;
    align-items: center;
    color: white;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 30px;
}
.div{
    margin: auto;
    padding-top: 20px;
    width: 60%;
}
.image1{
    width:50%;
    height: 80%;
    position: absolute;
    top: 10%;
    object-fit: cover;
}
h3{
    color: white;
    text-align: center;
}
a{
    color: white;
}
.btn a{
    color: white;
    text-decoration: none;
}
.para{
    width: 84%;
}
h4{
    color: white;
    text-align: right;
}
h4 a{
    text-decoration: none;
}
.container-two{
    display: flex;
    margin: 0px 60px 0px 0px ;
    padding: 20px;
    justify-content: space-between;
}
.btn-2{
    width: 30%;
    padding: 7px;
    font-size: 17px;
    border-radius: 30px;
}
.btn-2:hover{
    background-color: rgba(210, 143, 19, 0.997);
    border: 2px solid white;
    cursor: pointer;
}
h5{
    text-align: center;
    color: white;
}
.error{
    color: red;
    padding: 9px;
    margin: 0;
}

#togglePassword{
    margin: 0;
    width: 20px;
    height: 20px;
    color: rgb(180, 33, 33);
}
.togglevisibility{
    display: flex;
    color: white;
    vertical-align: middle;
}
.togglevisibility p{
    margin: 0;
}
@media screen and (max-width:1026px) {
   
    .main, .main2{
        grid-template-columns: auto ;
        width: 90%;
        height: 80%;
    }
    .image1{
        display: none;
        top: 4%;
        width: 90%;
        height: 45%;
    }
    form{
        width:82%;
        top: 0%;
    }
    
}
@media screen and (max-width:765px) {
   
    .main, .main2{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        height: 95%;
    }
    .div1{
        display: none;
    }
    .div2{
        padding: 0;
        text-align: center;
        align-items: center;
    }
    .image1{
        display: none;
        top: 4%;
        width: 90%;
        height: 45%;
    }
    form{
        padding: 10px 20px;
        width:85%;
        margin: auto;
        left: 1%;
        top: 0%;
    }
    .container-two{
        padding: 5px;
        margin: 0;
    }
    #password, #email{
        width: 90%;
        margin-bottom: 0;
    }
    .togglevisibility{
        margin-top: 20px;
    }
    .btn-2 {
        width: 34%;
        padding: 12px;
        text-align: center;
        font-size: 14px;
        border-radius: 30px;
    }
}

