body{
    margin: auto;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 50%;
}
.ul{
    display: flex; 
    margin-top: 10px;  
}
.li{
    list-style: none;
    padding: 0px 30px 0px 0px;
    
}
.li a{
    text-decoration: none;
    color: rgb(12, 180, 12);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.logo{
    padding-left: 30px;
    margin-top: 10px;
    font-size: 25px;
    color: black;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    display: flex;
    position: absolute;
    right: 30%;
}
.btn{
    background-color: white;
    border: 1px solid rgba(235, 170, 49, 0.819);
    color: rgba(235, 170, 49, 0.819);
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}
.btn:hover{
    cursor: pointer;
    background-color: lightyellow;
    color: black;
}
.btn-1, .btn-2, .btn-3, .btn-4,.btn-5{
    margin-right: 30px;
}
.image{
    width:200px;
    height: 170px;
    border: 2px solid orange;
}
.container2{
    position: absolute;
    top: 20%;
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    /* position: absolute;
    right: 20%;
    top: 20%;
    border: 2px solid; */
}
.griditem{
    display: flex;
    padding: 10px;
}
.product-img{
    margin-right: 10px;
}